.prestamos-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Mantener alineación a la izquierda */
  margin-top: 20px; /* Reducir margen superior para que aparezcan más arriba */
  padding-left: 20px; /* Mantener padding a la izquierda para separación */
}

.prestamo-card {
  width: 100%; /* Ocupa todo el ancho del contenedor */
  margin-bottom: 20px; /* Mantener margen inferior para separar tarjetas */
}
