.prestamos-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Cambiado de center a flex-start para alinear a la izquierda */
    margin-top: 100px; /* Añadir un margen superior para evitar la superposición con el navbar */
    padding-left: 20px; /* Añadir un padding a la izquierda para una mejor separación */
  }
  
  .prestamo-card {
    width: 100%; /* Ajustado para ocupar todo el ancho del contenedor */
    margin-bottom: 20px;
  }
  
  