/* Ajustes generales */
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
    margin-top: 80px; /* Aumenta el margen superior para despegarlo del navbar */
}

.tabla-container {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Ajustes de la tabla de movimientos */
.titulo-transacciones {
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
    font-size: 1.5em; /* Tamaño del h3 */
    background-color: transparent;
    color: #333; /* Color del texto */
}

.tablaMovimientos {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow-x: auto; /* Permite el desplazamiento horizontal si es necesario */
}

.MuiTableCell-root {
    padding: 16px;
    font-size: 16px;
}

.MuiTableCell-head {
    background-color: #143546; /* Cambia el color de fondo del encabezado */
    color: transparent; /* Cambia el color del texto del encabezado */
    font-weight: bold;
    text-align: left; /* Alineamos el texto a la izquierda */
}

.MuiTableCell-body {
    color: #333;
}

.MuiTableRow-root:nth-of-type(odd) {
    background-color: #f5f5f5; /* Color de fondo para filas impares */
}

.MuiTableRow-root:hover {
    background-color: #e0f7fa; /* Color de fondo al pasar el ratón */
}

@media (max-width: 768px) {
    .MuiTableCell-root {
        padding: 8px;
        font-size: 14px;
    }
}

/* Ajustes adicionales para las tarjetas de cuentas */
.card-container {
    display: flex;
    flex-direction: row; /* Asegura que las tarjetas se alineen en fila */
    justify-content: flex-start; /* Para alinear las tarjetas a la izquierda */
    align-items: flex-start; /* Alinea las tarjetas en la parte superior */
    flex-wrap: wrap;
    width: 100%;
}

.card-item {
    margin: 10px;
    flex: 1 1 300px; /* Ajuste para que las tarjetas se dispongan en filas */
    max-width: 300px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Similar al estilo de las tablas */
    border-radius: 8px; /* Similar al estilo de las tablas */
}

.atras-container {
  background: transparent;
}
.transparent-row {
    background-color: transparent;
}

.scrollable-table {
    max-height: 400px; /* Ajusta esta altura según tus necesidades */
    overflow-y: auto;
    margin-top: 20px;
}